<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#wikipedia" aria-controls="needs" role="tab" data-toggle="tab"><i class="fa fa-wikipedia-w" aria-hidden="true"></i>ikipedia</a></li>
	<li role="presentation" ><a href="#descript" aria-controls="descript" role="tab" data-toggle="tab">
	<i class="fa fa-database" aria-hidden="true"></i> Datos y Necesidades</a></li>
</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="wikipedia"><p><%= simple_format(product.wikipedia_content.truncate(1027, separator: '...')) %></p>
	<a href="<%= product.wikipedia_link %>" target="_blank" class="pull-right"><i>Ver mas en <i class="fa fa-wikipedia-w" aria-hidden="true"></i>ikipedia</i></a>
</div>
<div role="tabpanel" class="tab-pane " id="descript">
	<b>Descripcción:</b><br/><br/>
	<p><%= product.descripccion %></p>
	<b>Necesidades:</b><br/><br/>
	<p><%= product.necesidades %></p>
</div>
</div>