<div class="row">
	<h1>¿Ur Garden?</h1>
	<di class="row">
	<div class="col-md-7 justify">
		<p>Ur Garden es una iniciativa comercial que busca satisfacer la necesidad creciente del mercado de la jardinería y horticultura casera, mediante el uso de las teconologías para venta de productos para jardines.  </p>
		<p>Ur Garden cuenta con una amplia experiencia en venta de estos prodctos, con mas de treinta años en el mercado sus fundadores son personas que estan especializadas en todos los temas botánicos necesarios para que tu jardín luzaca impresionante. </p>
		<h2>Nuestra visión</h2>
		<p>Ur Garden prentende consolidarse como la plataforma de venta en linea de productos de jardinería mas grande del país.</p>
		<h2>Nuestra misión</h2>
		<p>Satisfacer las necesidades crecientes del mercado de la jardinería y horticultura en las grandes ciudades de México y LATAM.</p>
		<h2>Nuestros compromisos</h2>
		<p>1) Ur Garden esta comprometido con el agricultor méxicano por esto nuestros productos son 100% locales no importados, dando la oportunidad e crecimiento a los que mas lo necesitan.</p>
		<p>2) Ur Garden esta comprometido con la causa de la descontaminación del oxigeno en las grandes ciudades de México y LATAM por lo que pone a su alcance especializtas en construcción de jardines verticales y asoteas verdes.</p>
		<p>3) Ur Garden como organización esta comprometida con la conservación del agua por lo que ofrecemos gran variedad de servicios de reducción de consumo de agua en jardines.</p>
		<p>4) Pero mas que todo Ur Garden esta comprometido con la salud de nuestros clientes creyendo que la naturaleza es un medio único de conservarla, por lo que nos comprometemos con cada uno de nuestros productos para que sea de beneficio superior a nuestros clientes, llevando nuestro concepto de salud y vienestar a cada hogar de México, "las plantas son salud".</p>
	</div>
	<div class="col-md-5">
		<div  style="border:solid 1px #BDBDBD; width: 100%; margin-bottom: 10px;">
			<%= link_to all_items_path do %>
			<center>
			<%= image_tag('logos/520-full/verano.png', width: '80%') %>
			</center>
			<%end%>
		</div>
		<br/><br/>
		<%= link_to terminos_path do %>
		<%= image_tag('terminos/terminos_verano.jpg', width: "100%", style:"border:solid 1px #BDBDBD;") %>
		<%end%>
	</div>
</div>
</div>