<center>
<h3>Pedido no encontrado</h3>
<%= image_tag('sakura.png', width: '30%')%>
<h4>En este momento no hemos encontrado el pedido con la código que ha indicado, revise el código para validar sea correcto.</h4><br/>
<h4>En caso de ser correcto y que el error persis puede contactarnos mediante el link de email en la parte superior de la página.</h4><br/>
<%= link_to 'Ir a los productos', all_items_path %>
</center>