<h1>Ordenes en proceso</h1>
<%= form_tag find_orders_path do -%>
<div class="form-group">
	<div class="input-group input-group-md">
		<input type="text" name="search" class="form-control" placeholder="Buscar ... ">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Buscar Orden</button>
		</span>
	</div>
</div>
<%end%>
<%= render partial: 'customers/orders', locals: {caption: "Tabla de ordenes", orders: @orders}%>
<%= will_paginate @orders, :previous_label => '← Anterior', :next_label => 'Siguiente →', renderer: BootstrapPagination::Rails %>