.top-menu{
	position: relative;
	width: 100%;
	padding: 20px;
	text-align: justify;
	color: #fff;
	background: #2B2D2D;
	top: 0;
	height: 100px;
	margin-bottom: 0px;
}
.menu-change-colors{
	& a{
	color: #2B2D2D !important;
	font-size: 18px;
	padding: 3px;
	margin: 3px;
	}
	& a:hover{
	  color: #fff !important;
	}
	& .dropdown-menu{
		background: #81b33a;
		& li a{
			color:#fff !important;
			font-size: 15px;
			border: none !important;
		}
		& li a:hover{
			color:#58b031 !important;
			cursor:pointer;
		}
		& .divider{
			background: #BFEB81 !important;
		}
	}

	
}

.cart{
	margin-top: 220px;
	float: right;
	padding: 30px;
	z-index: 9999999999999;
	position: fixed;
	width: 150px;
	right: 0;
}

.cart-circle-btn{
	background: #93C54B;
	width: 70px;
	height: 70px;
	float: right;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

@media all and (min-width: 1px) and (max-width: 959px) {
    .search-top{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
    .social-top{
    	display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;  

    }
    .search-mobile{
    	display:block;
    }
    .left_menu{
    	display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse; 
    }
}


@media all and (min-width: 959px) and (max-width: 50000px) {
    .search-mobile{
    	display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;  
    }
    .cart{
    	display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse; 
    }
}
