.p-head{
	width: 100%;
	border-bottom:solid #2B2D2D 1px;
	margin-bottom: 30px;
	padding: 10px;
}

.p-image{
	width: 33.33%; float: left; cursor:pointer; border:solid #eee 3px; padding: 1px;
}

.p-descript{
	background: #fff;
	padding: 10px;
    height: 400px;
}

.btn-single{
	color: #81b33a;
    background-color: transparent;
    border:solid #81b33a 1px !important;
}

.btn-single:hover{
	color: #fff;
    background-color: #81b33a;
    border:solid #81b33a 1px !important;
}

.btn-buy{
	color: #fff;
    background-color: #D6CA27;
    border:solid #D6CA27 1px !important;
    width:  100% !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.btn-buy:hover{
    background-color: #B4AA21 !important;
  
}

.bnt-active-green {
	background: rgba(164,179,87,1) !important;
	background: -moz-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(82%, rgba(122,142,20,1)), color-stop(92%, rgba(117,137,12,1)));
	background: -webkit-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -o-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -ms-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
	color:  #fff !important;
	border:solid #D6CA27 1px !important;
}

.justify{
	text-align: justify !important;
}

.blur-load{
	width: 100%;
	top: 0;
	margin-top: 0;
	height: auto;
	filter:blur(5px);
	position: fixed;
	z-index: 99999999999999;
	background: rgba(59, 108, 56, 0.2);
}
#blur{
	width: 100%;
	position: fixed;
	z-index: 1;
	z-index: 99999999999999;
	color: rgba(127, 93, 181, 1);
}

.head-card-payment{
	height: 80px;
	padding: 20px;
	background: rgba(41, 74, 92, 1);
	color: #fff;
	font-size: 30px;
}