.p-head{
	width: 100%;
	border-bottom:solid #2B2D2D 1px;
	margin-bottom: 30px;
	padding: 10px;
}

.p-image{
	width: 33.33%; float: left; cursor:pointer; border:solid #eee 3px; padding: 1px;
}

.p-descript{
	background: #fff;
	padding: 10px;
    height: 400px;
}

.btn-single{
	color: #81b33a;
    background-color: transparent;
    border:solid #81b33a 1px !important;
}

.btn-single:hover{
	color: #fff;
    background-color: #81b33a;
    border:solid #81b33a 1px !important;
}

.btn-buy{
	color: #fff;
    background-color: #D6CA27;
    border:solid #D6CA27 1px !important;
    width:  100% !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.btn-buy:hover{
    background-color: #B4AA21 !important;
  
}

.bnt-active-green {
	background: rgba(164,179,87,1) !important;
	background: -moz-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(82%, rgba(122,142,20,1)), color-stop(92%, rgba(117,137,12,1)));
	background: -webkit-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -o-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: -ms-linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	background: linear-gradient(45deg, rgba(164,179,87,1) 0%, rgba(122,142,20,1) 82%, rgba(117,137,12,1) 92%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
	color:  #fff !important;
	border:solid #D6CA27 1px !important;
}

.justify{
	text-align: justify !important;
}

.blur-load{
	width: 100%;
	top: 0;
	margin-top: 0;
	height: auto;
	filter:blur(5px);
	position: fixed;
	z-index: 99999999999999;
	background: rgba(59, 108, 56, 0.2);
}
#blur{
	width: 100%;
	position: fixed;
	z-index: 1;
	z-index: 99999999999999;
	color: rgba(127, 93, 181, 1);
}

.head-card-payment{
	height: 80px;
	padding: 20px;
	background: rgba(41, 74, 92, 1);
	color: #fff;
	font-size: 30px;
}

.left_menu ul li{
    height: 39px;
    border-top: 1px solid #fff;
    text-decoration: none;
    list-style:none;
}
.left_menu ul li+li{
    height: 39px;
    border-top: 1px solid #eee;
}
.left_menu ul li a {
    display: block;
    color: #444;
    height: 40px;
    border: 0 none;
    font: normal 13px/40px Segoeui, Arial, Verdana, serif;
    text-decoration: none;

}

.left_menu ul li:hover{
    height: 39px;
    background: #f5f7f9;
    border-top: 1px solid #fff;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;

}
.left_menu ul li+li:hover a{
    height: 39px;
    background: #f5f7f9;
    border: 0 none;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;
}
.left_menu ul li:hover + li{
    border-top: 1px solid #fff;
}
.left_menu ul li.current{
    margin: 0 -6px;
    padding: 0 6px;
    height: 38px;
    background: #7ac5ce;
    border: 1px solid #71b9c1;
}
.left_menu ul li.current a{
    display: block;
    color: #fff;
    height: 38px;
    text-decoration: none;
    font: bold 13px/40px Segoeui, Arial, Verdana, serif;
}
.left_menu ul li a span{color: #777;}
.left_menu ul li.current a span{
    color: #fff;
    font-weight: normal
}

.left_menu h3{
	margin: 6px 0 15px;
    padding: 0 0 17px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
    width: 100%;
}
.best-items{
    border-left: 10px solid #e0e0e0;
    margin-top: 5px;
    padding: 5px;
    &:hover{
        background: #f5f7f9;
    }
}
.banner0{
    background: #fff;
    padding: 40px;
    height: auto;
    margin-top: 240px;
    float: none;
}
.banner1{
    background: rgba(34, 36, 40, 0.7);
    margin-bottom: 50px;
    padding: 40px;
    height: 500px;
    float: none;
}

.tagx{
    display: inline-block;
    text-decoration: none;
    color: #666;
    background-color: #fff;
    border: 1px solid #333;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 8px 4px 0;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 3px;
}

.img-border{
    border: solid 1px #fff;
    width: auto;
}

.p-description{
    width: 100%;
    background: #F4F7F3;
    color: #808180 !important;
    & .caption{
        color: #494A48 !important;
    }
}


