<select name="product[categoria_principal_interna]" class="form-control">
    <% $CATEGORIAS.each do |categoria| %>
	<option value="<%= categoria[:serach]%>"><%= categoria[:name] %></option>
    <%end%>
</select>