<div class="justify">
<h3>Ubergarden con domicilio en ......(domicilio fiscal ) </h3>

<p>Los datos personales que recabemos a través de la página www.ubergarden.mx serán utilizados de conformidad con la Ley de protección de datos personales en posesión de particulares, por lo que el presente aviso de privacidad nos permitirá informarle respecto a las finalidades primarias y secundarias que le daremos a sus datos personales. </p>

<h3>Primarias:</h3>
<p>i) Para generar una base de datos que permita brindar el servicio solicitado;</p>
<p>ii)Para entregarle en el domicilio registrado sus productos y/o prestarle los servicios adquiridos;</p>
<p>(ii) Para informarle y/o contactarle, respecto al estatus de sus compras de bienes y/o servicios; </p>
<p>(iii) Para gestionar pagos derivados de su compras; </p>
<p>(iv) Para la devolución y/o cambio de productos; </p>
<p>(v) Por temas de seguridad de Usted y la empresa; </p>
<p>(vi) Para las finalidades que se desprendan del marco legal; </p>
<p>(vii) Para regir las operaciones comerciales e intercambio de información que por medios electrónicos se lleve a cabo y la forma de expresar su consentimiento; </p>
<p>(viii) Para la emisión de facturas. </p>

<h3>Secundarias: </h3>
<p>(i) Para enviarle por diversos medios nuestras promociones; </p>
<p> (ii) Para realizar publicidad en redes sociales, medios de comunicación e información; </p>
<p>(iii) Para evaluar la calidad de los productos y servicios, así como para llevar a cabo encuestas de satisfacción; </p>
<p>(iv) Para ofrecerle cualquiera de nuestros servicios y productos;</p>
<p>(v) Para fines mercadológicos, de prospección comercial y fines estadísticos e históricos. </p>

<p>Usted podrá manifestar su negativa respecto al tratamiento de sus datos personales para las finalidades secundarias, dentro de los 5 días hábiles siguientes contados a partir de que otorgó sus datos, enviando un correo electrónico a la dirección contacto@ubergarden.com.mx, en donde se le informara el procedimiento a seguir para que sus datos dejen de utilizarse para las finalidades secundarias para las cuales no se desea sean tratados sus datos personales.</p>

<p>(La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.)</p>

<p>Datos recabados: Dependiendo de las finalidades para las que Usted nos otorgue sus datos personales, le solicitaremos las siguientes categorías: datos personales de identificación y de contacto, datos personales patrimoniales. </p>

<p>Revocación de consentimiento. Para el caso que desee revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, será necesario enviar un correo electrónico a la dirección contacto@ubergarden.com.mx donde se le informará el procedimiento a seguir, tomando en consideración el tipo de relación que entabló con la empresa de sus datos personales.</p>

<p>Uso de Cookies. Le informamos que el presente sitio de internet tiene implementados cookies y otras herramientas de rastreo mismo que podrá consultar en el apartado de "seguridad del sitio" en esta misma página.</p>

<p>Transferencias. De conformidad al artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podríamos realizar una transferencia de sus datos nacional o internacional, sin que sea necesario su consentimiento, a Autoridades Gubernamentales, administrativas, Judiciales, municipales, estatales y federales para dar cumplimiento a cualquiera de las finalidades señaladas en el presente aviso de privacidad, incluyendo aquellas que sean necesarias para cumplir con las leyes o que hubiesen sido legalmente exigidas para salvaguardar el linterés público, para la procuración o administración de justicia, cuando sea necesaria para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial o para dar mantenimiento o cumplimiento a las relaciones jurídicas entre titular y Responsable.</p>

<p>Modificaciones al aviso de privacidad. El presente aviso de privacidad podrá ser modificado y/o actualizado por distintas causas, incluyendo las legales. Por ello, el “Responsable” pondrá a disposición del titular, la versión actualizada del aviso de privacidad, en la página de internet: www.ubergarden.com.mx</p>
</div>